/*  Adds markup for the card on the account.html page that shows all user data of a logged in user */

.acc {
    display: flex;
    align-items: center;
    align-content: center;
    flex-grow: 1;
}

.acc-card_details {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.acc-card__dynamic {
    display: flex;
    flex-direction: column;
}

.acc-card {
    display: flex;
    flex-direction: column;

    justify-content: stretch;

    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255,255,255, 0.1);
    backdrop-filter: blur(5px);

    border-radius: 16px;
    padding: 3rem 4rem;

    width: 100%;
    max-width: 720px;
}

.acc-card__header {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}

.acc-card__details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.acc-card__details-grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
}

.acc-card__details-grid > * {
    padding: 0.25rem 0;
    align-self: center;
}

.acc-card__title {
    font-size: 2rem;
    font-weight: 600;
}

.acc-card_username-title {
    color: #eab308;
}

.acc-card__subtitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: #dfdfdf;

    text-transform: uppercase;
}

.acc-card__grid-label {
    font-size: .8rem;
    font-weight: 600;
    color: #dfdfdf;

    text-transform: uppercase;
}

.acc-card hr {
    width: 100%;
}

.acc-card__orders {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.account-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.history-group__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hs {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.75rem;
    cursor: help;
    align-self: center;
    position: relative;
}

.hs-meta {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hs-meta__ID {
    font-size: calc(0.75 * var(--text-size));
    font-weight: bold;

}

.hs-meta__data {
    font-size: calc(0.75 * var(--text-size));
}
