.movies {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.movies-group {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1rem;
}

.movies-group__label {
    align-self: center;
    font-weight: 600;
    font-size: calc(1.5 * var(--text-size));
}

.movies-group__list {
    grid-column: 2 / 7;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
}

.mov {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.75rem;
    cursor: help;
    align-self: center;
    position: relative;
}

.mov:hover {
    background: rgba(255, 255, 255, 0.125);
    border-radius: 200px;
}

.mov-meta {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

.mov-meta__title {
    font-size: var(--text-size);
    font-weight: 600;
    line-height: 1.25;
}

.mov-meta__year {
    font-size: calc(0.75 * var(--text-size));
    color: rgba(var(--text-color-r), var(--text-color-g), var(--text-color-b), 0.5);
}

.mov-meta__plot {
    font-size: calc(0.75 * var(--text-size));
    color: rgba(var(--text-color-r), var(--text-color-g), var(--text-color-b), 0.9);
}

.movie__img {
    --artist__img--size: 56px;
    height: var(--artist__img--size);
    width: var(--artist__img--size);
    border-radius: var(--artist__img--size);
    object-fit: cover;
}