.movie__details {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.movie__poster {
    display: flex;
    align-items: center;
}

.movie__poster-img {
    max-height: 15rem;
    width: auto;
    object-fit: contain;
}

.movie-meta {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    padding: 1rem 0;
}

.movie-meta__top {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.movie-meta__about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.movie-meta__title {
    font-size: calc(5 * var(--text-size));
}

.movie-meta__plot {
    font-size: calc(0.75 * var(--text-size));
}

.movie-meta__trailer {
    font-size: calc(0.875 * var(--text-size));
    margin-left: auto;
    align-self: center;
    display: flex;
    gap: 0.5rem;
}

.artists {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.artists-group {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1rem;
}

.artists-group__label {
    align-self: center;
    font-weight: 600;
    font-size: calc(1.5 * var(--text-size));
}

.artists-group__list {
    grid-column: 2 / 7;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
}

.artist {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.75rem;
    cursor: help;
    align-self: center;
    position: relative;
}

.artist:hover {
    background: rgba(255, 255, 255, 0.125);
    border-radius: 200px;
}

.artist--actor {
    display: flex;
}

.artist__img {
    --artist__img--size: 56px;
    height: var(--artist__img--size);
    width: var(--artist__img--size);
    border-radius: var(--artist__img--size);
    object-fit: cover;
}

.artist-meta {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

.artist-meta__name {
    font-size: var(--text-size);
    font-weight: 600;
    line-height: 1.25;
}

.artist-meta__birthyear {
    font-size: calc(0.75 * var(--text-size));
    color: rgba(var(--text-color-r), var(--text-color-g), var(--text-color-b), 0.5);
}

.artist-tooltip {
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    width: max-content;
    z-index: 20;
}

.artist-tooltip__label {
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1px;
    margin-bottom: 0.5rem;
}

.artist-tooltip__item {
    font-size: calc(0.875 * var(--text-size));
    line-height: 2;
    list-style: circle;
    padding-left: 0.5rem;
    margin-left: 0.75rem;
}

.artist:hover > .artist-tooltip {
    display: flex;
}

@media only screen and (max-width: 850px) {
    .movie__details {
        flex-direction: column;
        gap: 0.5rem;
    }

    .movie__details .movie-meta {
        padding-top: 0;
    }

    .movie-meta__top {
        flex-direction: column;
    }

    .movie-meta__trailer {
        margin-top: 1rem;
        margin-left: 0;
        align-self: flex-start;
    }

    .artists-group {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-items: start;
    }

    .artists-group__list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .movie-meta__trailer {
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    .artists-group__list {
        grid-template-columns: minmax(0, 1fr);
    }
}