.reviews {
    display: flex;
    flex-direction: column;
}

.reviews__title {
    font-size: 2rem;
    text-align: center;
    align-self: center;
    margin-bottom: 1rem;
    font-weight: 700;
}

.reviews__description {
    font-size: 1rem;
    text-align: center;
    align-self: center;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 1rem;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 25px;
    background: rgba(32, 34, 38, 0.36);
    width: auto;
    height: auto;
}

.review__tags {
    align-self: stretch;
    margin-bottom: 1rem;
}

.review__details {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1rem;
}

.reviewer__names {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewer__name {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 4px;
    padding: 0.25rem 1rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.review__title {
    font-size: 1.5rem;
    font-weight: 700;
}

.review__content {
    line-height: 2;
    color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 650px) {
    .review__details {
        flex-direction: column;
        align-items: stretch;
        gap: 0.5rem;
    }

    .review__stars {
        order: 1;
    }

    .review__title {
        order: 2;
    }
}